* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.flex {
    display: flex;
}

body {
    background-color: #0D0F14;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.above-display,
.below-display {
    overflow: scroll hidden;
    /* Hides scrollbar in Firefox */
    scrollbar-width: none;

    /* Hides scrollbar in IE and legacy Edge */
    -ms-overflow-style: none;
    height: 50%;
    white-space: nowrap;



}

div.calculator,
div.display {
    flex-direction: column;
}

div.calculator {
    width: 500px;
    height: 700px;
    border: 2px solid #3B4252;
    border-radius: 25px;

    padding: 15px;
    gap: 10px
}

.display {
    outline: 3px solid green;
    border: 2px solid #45464c;
    height: 150px;
    border-radius: 12px;
    background-color: #17181c;
    padding: 12px;
    box-sizing: content-box;
    gap: 5px;


}




.display .above-display,
.display .below-display {
    text-align: right;
    padding: 8px 0px;
    Letter-spacing: 0.5px;
}

.display .above-display {


    font-size: 2.5rem;
    color: grey;
    font-weight: 500;
}

.display .below-display,
.operators>button,
.number,
.delete {
    Color: #F5F7FA;
}

.display .below-display {

    font-size: 3rem;
    font-weight: 700;
}

.buttons-menu {
    /* border: 2px solid rgb(21, 200, 161); */
    flex: 1;
    padding: 15px 5px;
    gap: 10px;
}

.buttons-menu>.left {
    width: 75%;
    flex-direction: column;
    gap: 15px;

}

.left>div {
    width: 100%;
    gap: 10px;
    height: 18%;

}


.left>.numbers,
.operators .equal {
    flex: 1;
}

.left>div:first-child>button {
    flex: auto;
}

.left>.numbers {
    flex-wrap: wrap;
    gap: 7px;
}

.number {
    width: 30%;
    flex: auto;



}

.left button {
    background-color: #232731;
    border: 3px solid #2E3440;
}

.left .clear,
.left .delete,
.operators .equal {
    color: white;
}

.left .clear {
    background-color: #DC2626;
    width: 50%;
    border-color: #B91C1C;
}



button:nth-child(10).number {
    width: 60%;
    flex-grow: 1;
}

.operators {

    flex-direction: column;
    flex: 1;
    align-content: flex-start;
    gap: 7px;


}

button {
    border-radius: 12px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

.operators>button {
    width: 100%;
    height: 18%;
    background-color: #F57C00;

    border: 3px solid #D97706;

    font-weight: 600;
}


.operators>button:hover {
    background-color: #FB923C;
}

.clear:hover {
    background-color: #EF4444;
}

.number:hover,
.delete:hover {
    background-color: #2D3440;
}