* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.flex {
    display: flex;
}

body {
    background-color: #0D0F14;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.calculator {
    width: 500px;
    height: 700px;
    border: 2px solid white;

}