* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.flex {
    display: flex;
}

body {
    background-color: #0D0F14;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.calculator,
div.display {
    flex-direction: column;
}

div.calculator {
    width: 500px;
    height: 700px;
    border: 4px solid transparent;
    background:
        linear-gradient(#171A21, #171A21) padding-box,
        linear-gradient(to bottom right,
            #6D5CFF,
            #8B5CF6,
            #C026D3,
            #FF8A00) border-box;
    border-radius: 30px;

    padding: 15px;
    gap: 10px
}

.display {
    border: 3px solid #45464c;
    height: 150px;
    border-radius: 12px;
    background-color: #17181c;
    padding: 12px;

    justify-content: space-between;
}

.display .above-display,
.display .below-display {
    text-align: right;

    Letter-spacing: 0.5px;
}

.display .above-display {


    font-size: 2.5rem;
    color: grey;
    font-weight: 500;
}

.display .below-display {
    Color: #F5F7FA;
    font-size: 3rem;
    font-weight: 700;
}

.buttons-menu {
    border: 2px solid rgb(21, 200, 161);
    flex: 1;
}